html {
  background-image: url('../images/background-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  padding: 5rem 5rem 10rem;
  line-height: 1.7;
  font-family: 'Nunito Sans', sans-serif;
  color: #555;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #c1f097, #1ae2d8);
}
