.a {
  padding: 10px;
}
.p-sectionLinks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
  display: inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.user-image {
  border-radius: 50%;
  border-color: yellow;
  border-width: 5px;
  padding: 15px;
  max-width: 150px;
  max-height: 150px;
}
