.account-page {
    width: 100%;
    height: 100%;
}

.account-page__loading {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.account-page__overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block-start: 3rem;
    padding-inline: 15rem;
}

.account-page__overview__username {
    font-size: 2rem;
    font-weight: 600;
    height: fit-content;
}

.account-page__overview__account {
    color: gray;
    font-size: 1.1rem;
    font-weight: 300;
    height: fit-content;
}

.account-page__overview__avatar {
    background-color: transparent;
    display: grid;
    width: 128px;
    height: 128px;
    margin-inline-start: 0rem;
    margin-inline-end: 2rem;
}

.account-page__overview__avatar img {
    grid-column: 1;
    grid-row: 1;
    width: 128px;
    height: 128px;
    object-fit: fill;
    border: solid 1rem;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 50%;
}

.account-page__overview__avatar-change-spinner {
    background-color: rgba(0, 0, 0, 0.4);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.account-page__overview__avatar-change-btn {
    background-color: transparent;
    grid-column: 1;
    grid-row: 1;
    width: inherit;
    height: inherit;
    font-size: 0.6rem;
    font-weight: 400;
    border: none;
    border-radius: 50%;
    opacity: 0;
}

.account-page__overview__avatar-change-btn__icon {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-inline: auto;
    border: none;
    border-radius: 50%;
}

.account-page__separator {
    background-color: #53408B;
    display: block;
    align-self: center;
    height: 2px;
    margin-inline: 10rem;
    margin-block: 3rem;
}

.account-page__details__label {
    font-size: 1.7rem;
    font-weight: 600;
}

.account-page__details__input {
    width: 715px;
    height: 45px;
    margin-block: 1.8rem;
}

.account-page__details__upgrade-message {
    width: 715px;
    height: fit-content;
    margin-block: 1.8rem;
}

.account-page__details__upgrade-message>div>div {
    padding: 1rem;
}

.account-page__details__row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 2rem;
    padding-inline-end: 35rem;
    justify-content: space-between;
    align-items: center;
}

.account-page__button {
    background-color: #13088e;
    color: white;
    width: 155px;
    padding: 0.5rem;
    justify-self: flex-end;
    margin-inline: 0rem;
    font-weight: 500;
    font-size: 1rem;
}

.account-page__terms-of-service {
    background-color: rgb(242, 242, 242);
    height: 500px;
    margin-block-start: 1.8rem;
    margin-block-end: 0.5rem;
    padding: 1rem;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(153, 153, 153);
    border-radius: 0.3rem;
}

.account-page__request-message__failed {
    background-color: #f35151ab;
    color: #d32f2f;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-block: 1.8rem;
    margin-inline-start: 2rem;
    border-radius: 1rem;
}

.account-page__request-message__success {
    background-color: rgba(77, 236, 77, 0.685);
    color: green;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-block: 1.8rem;
    margin-inline-start: 2rem;
    border-radius: 1rem;
}