.comment {
    color: black;
    display: flex;
    flex-direction: row;
    margin-block: 2rem;
    font-family: "Inter";
}

.comment__creator-avatar {
    width: 40px;
    height: 40px;
    margin-inline-end: 1rem;
    border: solid 1.5rem;
    border-color: black;
    border-width: 0.15rem;
    border-radius: 50%;
}

.comment__details {
    display: flex;
    flex-direction: row;
}

.comment__details__creator-name {
    font-family: inherit;
    font-weight: bold;
    font-size: large;
    margin-inline-end: 0.5rem;
}

.comment__details__created-date {
    color: #BDBDBD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    font-family: inherit;
    font-size: small;
}

.comment__content {
    font-family: inherit;
}