.tag-section {
    display: flex;
    flex-direction: column;
    width: 1490px;
}

.tag-section__label {
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 800;
    margin-block-end: 3rem;
}

.tag-section__separator {
    background-color: #53408B;
    align-self: center;
    width: 100%;
    height: 2px;
    margin-block-start: 2rem;
}