.app-sidebar__content {
    position: fixed;
    width: 197px;
    height: fit-content;
    margin-block-start: 1rem;
    padding-inline: 0.5rem;
}

.app-sidebar__item {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding-block: 0.5rem;
    margin-block: 1rem;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.5rem;
}

.app-sidebar__item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.app-sidebar__item__icon {
    width: 28px;
    height: 28px;
    margin-inline-start: 1.2rem;
    margin-inline-end: 1rem;
}